.main {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  min-height: 70vh;
  padding: 1rem;
  padding-top: 0rem;
}

.portrait {
  max-width: 40ch;
  position: relative;
}

.aboutMe {
  background-color: rgb(240, 241, 245);
  max-width: 40ch;
  height: 60ch;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 4rem;
  border-radius: 12pt 0pt 0pt 12pt;
}

.aboutMe h1 {
  font-size: 28pt;
  margin-bottom: 0;
}

.aboutMe p {
  font-size: 14pt;
  font-weight: 300;
  line-height: 1.5em;
}

@media (max-width: 767px) {
  .aboutMe {
    padding: 2rem;
    height: auto;
    border-radius: 12pt 12pt 0pt 0pt;
  }

  .aboutMe h1 {
    font-size: 24pt;
  }

  .aboutMe p {
    font-size: 12pt;
  }
}
