.main {
  min-height: 80vh;
  padding: 1rem;
  padding-top: 0rem;
}

.contactForm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  background-color: rgb(240, 241, 245);
  padding: 1rem;
  max-width: 80ch;
  gap: 0.5rem;
}

.contactForm input,
.contactForm textarea {
  width: 40ch;
  padding: 0.5em;
  border-radius: 6pt;
  border: none;
}

.button {
  background-color: rgb(61, 185, 243);
  color: white;
  border: none;
  border-radius: 12pt;
  font-size: 12pt;
  height: 2rem;
}
