.main {
  min-height: 80vh;
  padding: 1rem;
  padding-top: 0rem;
}

.contactForm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  background-color: rgb(240, 241, 245);
  padding: 1rem;
  max-width: 80ch;
}

.contactForm input {
  width: 80%;
}
